### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Project ###
services/courier-management/HELP.md
services/courier-management/target/**
services/courier-management/.mvn/wrapper/maven-wrapper.jar

services/delivery-tracking/HELP.md
services/delivery-tracking/target/**
services/delivery-tracking/.mvn/wrapper/maven-wrapper.jar